<%- include("header"); -%>

<h1>This is the about page</h1>
<p>Hi My name is Vittha Ghnate. I am Developer</p>
<p>Obtain a position where my education can be utilized</p>


<footer>
  Copyright 2023. The Vitthal Ghante
</footer>
<%- include("footer"); -%>
